h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

body {
	font-family:'Century Gothic', Sans-serif;
	padding: 0;
	margin: 0;
	background-color: #3f3f3f;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Section Inner */
div.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

/* Header */
div.header {
	background-color: #7FB730;
	padding: 40px 0;
}

/* Navigation */
div.nav {
	background-color: #d4d4d4;
}

div.nav ul {
	margin: 0;
	padding: 0;
}

div.nav ul li {
	list-style: none;
	float: left;
	font-size: 93%;
}

div.nav ul li a:link,
div.nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
}

#main_menu>li:hover{
	background-color: #5db912;
	box-shadow: 0px 0px 0px 0.5px #00CC00;
	color: #b4c3fb;
	transition: 0.5s ease;
}

#main_menu li:hover ul{
	display:block;
}
#main_menu > li:first-child{
	background-color: #43644b;
	color: white;
}

.submenu{
	display:none;
	box-shadow: 0px 0.5px 5px #000;
}

.submenu >li{
	display:block
}

.submenu>li:hover{
	background-color:#5db912;
	text-shadow: 2px 2px 2px #375F85;
	transition: 0.5s ease;
}
/* Body Content */
div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Thirds */
div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 45%;
	float: left;
	margin-right: 5%;
}
div.one-third-last {
	margin: 0;
}
#centrado{
	text-align:center;
}

.centrado{
	text-align:center;
}

.justificado{
	text-align:justify;	
}
.centrado_con_color_rojo{
	text-align:center;
	color:#F00;
}
/* Main Column */
div.main {
	width: 95%;
	float: left;
	margin-right: 5%;
}
.overflow{
	max-width:500px; 
	height:350px; 
	overflow:auto; 
	padding:1%; 
	text-align:justify;
}
.img_trasparente:hover{
	margin:auto;
	opacity:0.5;
	width:auto;
	height:auto;
	background:url(../../imagenes/fondo_trasparente-720x432px.png);
	background-repeat:no-repeat;
	background:#060;
	transition:1s ease ;
	box-shadow: 10px 10px 20px #333;
}
.hover_productos:hover{
	margin:auto;
	width:75%;
	height:75%;
	transition:1s ease ;
	box-shadow: 10px 10px 20px #333;
}
.opacidad:hover{
	opacity:0.8
	}

.modificacion_formulario{
	background:#060;
	color:#FFF;
	border-radius: 20px 20px 20px 20px;
}
.modificacion_formulario:hover{
	background:#030;
	color:#FC0;
	border-radius: 20px 20px 20px 20px;
	transition:1s ease ;
	box-shadow: 10px 10px 20px #333;

}

/* Info Box */
div.info-box-a {
	background-color: #9bdaef;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

div.info-box-b {
	background-color: #efdb7f;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

/* Footer */
div.footer {
	background-color: #3f3f3f;
	color: #FFF;
	padding: 15px 0;
}

.fb{
	text-align:center;
}

.twitter{
	text-align:center;
}

.para_los_validadores{
	border:0;
	width:88px;
	height:31px
}
.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

.clearfix {
	zoom: 1; 
}
