/*menu desplegable horizontal*/

a{
	color:white;
}
ul 	{
	display: block;
	list-style-type:none;
	position:relative;
	margin-left:40%;
	margin-top:4.5%;
	top: -1px;
}
li 	{
	margin-top:-100%;
	padding: 4px;
	display: inline-block;
	color:white;
	background-color:#221a17;
	width:100px;
	position:relative;
	cursor:pointer;
}
#main_menu >li{
	padding:1px;
	-moz-transition:all 0.8s ease;
	-ms-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
}
.submenu{
	margin-top:10px;
	padding: 5px;
	position:absolute;
	top:67px;
	left:1px;
	display:none;
	box-shadow: 0px 0.5px 5px #000;
	border-radius: 0px 0px 10px 10px;
	margin-left: -3.25%;
}
.submenu >li{
	margin-top:1px;
	display:block
}
.submenu>li:hover{
	background-color:#5db912;
	text-shadow: 2px 2px 2px #375F85;
	z-index:100;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.submenu li:last-child{
	border-radius: 0px 0px 10px 10px;
}
#main_menu li:hover ul{
	display:block;
	z-index:100;
}
#main_menu >li{
	border-radius: 5px 5px 10px 10px;
	-moz-transition:all 0.8s ease;
	-ms-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
}

#main_menu>li:hover{
	background-color: #5db912;
	padding-top:10px;
	box-shadow: 0px 0px 0px 0.5px #00CC00;
	border-radius: 10px 10px 0px 0px;
	border: 1px outset #5db912;
	color: #b4c3fb;
	text-shadow: 0.5px  #375F85;
}
#main_menu > li:first-child{
	background-color: #43644b;
	padding-top:15px;
	border: 0.5px;
	color: white;
	text-shadow: 1px 1px 1px ;
}
