/*al body*/
.tabla{
	margin-left:15%;
	margin-right:15%;	
	padding: 1.5%;
	opacity: 0.5;
	z-index: 1;
	border-radius: 20px 20px 20px 20px;
	background-color: #FFFFFF;
	color: #060;
	text-align: justify;
}
.content_product_margin_left:hover{
	opacity:1;
 	-moz-transition:all 0.8s ease;
	-ms-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
}
.content_product_margin_right{
	border-radius: 20px 0px 0px 20px;
	background:#2A5F00;
	text-align:center;
	padding-left:2%;	
}
.content_product_margin_right:hover{
	opacity:1;
	border-radius: 20px 20px 20px 20px;
	background:#007F55;
	-moz-transition:all 0.8s ease;
	-ms-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
}
.eleva_text_margin_left_content:hover{
	background-color:#009FAA;
	-moz-transition:all 0.8s ease;
	-ms-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;

}