/*slide css*/

#wrapper3 {
	display: block;
	height: 500px;
	width: 1000px;
	margin: auto;
}
#container_photosplus3 {
	background-color: #2A3F00;
	display: block;
	height: 500px;
	width: 1000px;
	border-radius: 10px 10px 10px 10px;
}
#prev3 {
	background-image: url(../imagenes/prev.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float: left;
	height: 500px;
	width: 100px;
	position: relative;
	z-index: 99;
}
#next3 {
	background-image: url(../imagenes/next.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float: right;
	height: 500px;
	width: 100px;
	position: relative;
	z-index: 99;
}
#prev3:hover{
	width:70px;
	height:500px;
	float:left;
	background:#FFF;
	background-image: url(../imagenes/prev_mouseover.png);
	background-repeat: no-repeat;
	opacity:0.3;
	border-radius: 10px 0px 0px 10px;
	-moz-transition:ease 0.9s;
	-ms-transition:ease 0.9s;
	-webkit-transition:ease 0.9s;
	}
#next3:hover{
	width:70px;
	height:500px;
	background:#FFF;
	background-image: url(../imagenes/next_mouseover.png);
	background-repeat: no-repeat;
	opacity:0.3;
	border-radius: 0px 10px 10px 0px;
	-moz-transition:ease 0.9s;
	-ms-transition:ease 0.9s;
	-webkit-transition:ease 0.9s;
	}
#slider3 {
	margin-top:2%;
	margin-left:5.30%;
	display: block;
	float: left;
	width: 950px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	border-radius: 10px 10px 10px 10px;
}
